@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

// Layout size
$mobile-size: 375px;
$desktop-size: 1440px;

// Color
// Text color
$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-dark-violet: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-desaturated-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);
$left-chat-background: hsla(275, 67%, 82%, 0.294);

//Gradient
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

// Primary
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 20%, 96%);
$very-light-magenta: hsl(289, 100%, 72%);

// Font
// Font family
$root-font-family: Rubik;

// Font size
$root-font-size: 16px;

* {
  font-family: $root-font-family;
  font-size: $root-font-size;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-grayish-violet;

  .container {
    .chat {
      width: 250px;
      height: fit-content;
      border: 10px solid $white;
      border-radius: 30px;
      background-color: $light-grayish-violet;

      box-shadow: 0px 40px 40px rgba(200, 200, 200, 0.468);
      .chat-head {
        width: 100%;
        height: 65px;
        color: $white;
        background: linear-gradient(90deg, $light-violet, $light-magenta);
        border-radius: 20px 20px 5px 5px;

        .chat-user-head {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 27px 14px 11px 14px;

          .left-side-head {
            display: flex;
            align-items: center;

            .back-arrow {
              span {
                font-size: 0.8rem;
                font-weight: 700;
              }
            }

            img {
              width: 25px;
              height: 25px;
              border-radius: 25px;
              border: 1px solid $white;
              margin: 0 8px 0 3px;
            }

            .user-detail {
              .user-name {
                font-size: 0.7rem;
                font-weight: 500;
              }
              .status {
                font-size: 0.5rem;
                font-weight: 400;
                color: $pale-violet;
              }
            }
          }

          .right-side-head {
            span {
              font-size: 0.9rem;
            }
          }
        }
      }

      .chat-head::before {
        content: "";
        width: 130px;
        height: 30px;
        background-color: $white;

        position: absolute;
        translate: 40% -34%;

        border-radius: 14px;
      }

      .chat-body {
        height: calc(100% - 65px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        background-color: $light-grayish-violet;

        border-radius: 0 0 20px 20px;

        .chat-boxes {
          width: 100%;
          overflow: hidden;

          .admin-chat-box {
            color: $moderate-violet;
            font-size: 0.5rem;
            width: fit-content;
            max-width: 130px;
            background-color: $left-chat-background;
            padding: 5px 10px;
            margin-bottom: 8px;
            border-radius: 10px 10px 10px 5px;
            float: left;
          }

          .dog-images {
            display: flex;
            margin-top: 7px;
            margin-bottom: 8px;
            float: right;
            img {
              width: 40px;
              height: 40px;
              border-radius: 5px;
            }

            #second-img {
              margin: 0 8px;
            }
          }

          .user-chat-box {
            width: fit-content;
            max-width: 130px;
            font-size: 0.5rem;
            background-color: $white;
            border-radius: 10px 10px 5px 10px;
            padding: 5px 10px;
            margin-bottom: 8px;
            float: right;
            color: $desaturated-dark-violet;
            box-shadow: -3px 5px 3px rgba(160, 160, 160, 0.073);
          }

          #last-user-box {
            margin-bottom: 15px;
          }

          .offer-box {
            width: 160px;
            height: 30px;
            border-radius: 10px 10px 10px 5px;
            background: linear-gradient(90deg, $light-magenta, $light-violet);
            padding: 10px 15px 10px 8px;
            margin-bottom: 8px;
            color: $white;

            float: left;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .offer-detail {
              display: flex;
              align-items: center;
              .offer-check {
                width: 12px;
                height: 12px;
                border: 1px solid $white;
                border-radius: 25px;
                margin-right: 8px;
              }
              .offer-name {
                font-size: 0.5rem;
              }
            }

            .offer-price {
              font-size: 0.8rem;
              font-weight: 700;
            }
          }
        }

        .chat-type-box {
          width: 100%;
          height: 35px;
          border-radius: 30px;
          background-color: $white;
          margin-top: 7px;
          padding: 5px 5px 5px 20px;

          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-size: 0.5rem;
            color: $grayish-blue;
          }

          .send {
            width: 25px;
            height: 25px;
            background-color: $very-dark-desaturated-violet;
            border-radius: 50px;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              margin-left: 3px;
              font-size: 1.25rem;
              font-weight: 700;
            }
          }
        }
      }
    }

    .web-info {
      h1 {
        color: $very-dark-desaturated-violet;
      }
      p {
        color: $dark-grayish-violet;
      }
    }
  }

  .container::before {
    content: "";
    width: 500px;
    height: 1000px;
    background: linear-gradient($light-magenta, $light-violet);
    border-radius: 250px;
  }

  .container::after {
    content: "";
    width: 500px;
    height: 1000px;
    background-color: rgb(242, 236, 243);
    border-radius: 250px;
  }
}

@media (min-width: 375px) and (max-width: 1439px) {
  body {
    margin: 0 auto;
    .container {
      width: 375px;
      padding: 65px 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container::before {
      z-index: -100;
      position: absolute;
      top: -80%;
      left: -84%;
    }

    .container::after {
      z-index: -100;
      position: absolute;
      bottom: -90%;
      right: -84%;
    }
  }
}
